table {
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

.search{
  text-align: center;
  margin-bottom: 10px;
}

#searchInput{
  padding: 10px;
}

.selectPagination{
  margin-top: 10px;
  text-align: center;
}